@use '@/styles/container';

.container {
    @extend .container;
}

.category_title {
    text-align: center;
    margin-top: 40px;
}

.products_title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .home_input_wrapper {
        flex-direction: column;
        align-items: stretch;
        padding: 0 16px;
        gap: 10px;

        .prodcuts_wrapper {
            margin-top: 40px;
        }
    }

    /* Filter overlay and wrapper */
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 100;
        backdrop-filter: blur(4px);
        animation: fadeIn 0.2s ease-in-out;
    }

    .filter_side_wrapper {
        width: 600px;
        max-width: 80vw;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 30%;
        background-color: #fff;
        z-index: 100000000;
        box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
        animation: slideIn 0.3s ease-in-out;
        overflow: hidden;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes slideIn {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(0);
        }
    }
}