@use "@/styles/container";

.container {
  @extend .container;
}

.category_title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.products_title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  backdrop-filter: blur(4px);
  animation: fadeIn 0.2s ease-in-out;
}

.filter_side_wrapper {
  width: 600px;
  max-width: 80vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 30%;
  background-color: #fff;
  z-index: 100000000;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.3s ease-in-out;
  overflow: hidden;
}

.prodcuts_wrapper {
  margin-bottom: 64px;
}

.category_header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.view_all_button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 100px;
  border: none;
  padding: 12px 8px;
  border-radius: 12px;
  background-color: #4e46b4;
  color: #fff;
  cursor: pointer;
}

.hide_view_all {
  display: none;
}

@media (max-width: 768px) {
  .home_input_wrapper {
    flex-direction: column;
    align-items: stretch;
    padding: 0 16px;
    gap: 10px;

    .prodcuts_wrapper {
      margin-top: 40px;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}