@use '@/styles/container';
@use '@/styles/fonts';


.footer {
    font-family: 'SF-Pro-Display-Regular', sans-serif;

    .line {
        max-width: 1200px;
        border-radius: 1px;
        margin: 0 auto;
        height: 1px;
        background-color: #999ca0;
    }

    .container {
        @extend .container;
        padding: 0px 10px;
        background-color: #fff;
        margin-top: 50px;
    }

    &__top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
    }

    &__brand {
        font-size: 32px;
        font-weight: 600;
        color: #5f4bb6;
        min-width: 120px;
    }

    &__columns {
        display: flex;
        flex: 1;
        gap: 40px;

        ul {
            display: flex;
            flex-direction: column;
            gap: 25px;
            list-style: none;
            padding: 0;

            li {
                font-size: 16px;
                color: #000;
                margin-bottom: 10px;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &__store_social {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        gap: 10px;

        .footer__store_badge {
            align-self: flex-end;
        }

        .footer__social_icons {
            display: flex;
            gap: 10px;

        }
    }

}