@use '@/styles/container';
@use '@/styles/fonts';

.header{
    background-color: #4e46b4;
    height: 80px;
    line-height: 80px;
    position: sticky;
    top: 0;
    z-index: 1000;
    font-family: 'SF-Pro-Display-Regular', sans-serif;
}
.container {
    @extend .container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px  ;
    .h1{
        color: #fff;
        font-size: 32px;
    }
    .right{
        display: flex;
        align-items: center;
        gap: 25px;
        .navigations{
            display: flex;
            align-items: center;
            gap: 40px;
            &>div{
                display: flex;
                align-items: center;
                gap: 10px;
                color: #fff;
            }
        }
    }
}